<div class="row">
  <div class="col-xs-12">                          <!-- 1)   -->
     <form (ngSubmit)="onAddItem(f)" #f="ngForm"> <!--"ngForm" gives us access to the angular forms -->
      <div class="row">                          <!--the #f is just a reference to this form -->
        <div class="col-sm-5 form-group">        <!--we then pass it in 'f' to the method -->
          <label for="name">Name</label>
          <input
            type="text"
            id="name"
            class="form-control"
            name="name"
            ngModel
            required>                           <!-- 2) we added a name and a control (the ngModel) -->
        </div>                                 <!-- the ngModel simply tracks what the user is doing -->
        <div class="col-sm-2 form-group">
          <label for="amount">Amount</label><!-- 2) we added a name and a control (the ngModel) -->
          <input
            type="number"
            id="amount"
            class="form-control"
            name="amount"
            ngModel
            required
            [pattern]="'^[1-9][0-9]*$'"> <!--'pattern' takes a regular expression-->
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">  <!-- the requireds above are what affect the 'f.valid' below -->
          <button class="btn btn-success" type="submit" [disabled]="!f.valid">Add</button>
          <button class="btn btn-danger" type="button">Delete</button>
          <button class="btn btn-primary" type="button">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
